/* STYLING MY SKARA SHOP WEBSITE */
/* THE NAVBAR */
nav .nav-wrapper {
    position: relative;
    height: 106%;
    background-color: ghostwhite;
}

.logo {
    margin-top: 4px;
    margin-left: 17px;
}

nav ul a {
    color: blue;
    font-family: 'Satisfy';
    font-size: 20px;
}

nav ul a:hover {
    background-color: goldenrod;
}

/* ILLUSTRATION */

.image1 {
    position: relative;
    width: 100%;
    height: 120%;
}

.para1 {
    position: absolute;
    top: 318px;
    left: 304px;
    font-family: 'Amita';
    font-size: 36px;
    color: cornsilk;
    background-color: brown;
    /* FOR WAYPOINT PLUGIN */
    opacity: 0;
    transition: all 200ms ease-in;
}

.para2 {
    position: absolute;
    top: 412px;
    left: 0px;
    font-family: 'Amita';
    font-size: 89px;
    color: currentColor;
    background-color: coral;
    text-align: center;
     /* FOR WAYPOINT PLUGIN */
     opacity: 0;
     transition: all 200ms ease-in;
}

/* PARAGRAPH */

.para3 {
    font-family: 'Satisfy';
    padding-top: 47px;
    text-align: center;
    font-size: 19px;
    padding-bottom: 43px;
}

/*ILLUSTRATION 2*/

.illustration1 {
    position: relative;
    width: 100%;
    height: 140%;
}

.para4 {
    position: absolute;
    font-family: 'Nanum Brush Script';
    top: 1598px;
    left: 380px;
    font-size: 82px;
    color: floralwhite;
    background-color: blue;
}

/*ILLUSTRATION 3 + CARD */

.number {
    font-family: 'Nanum Brush Script';
    font-size: 80px;
}

.row0 {
    margin-left: 178px;
}
.row1 {
    margin-left: 584px;
    margin-top: -32px;
}

.card {
    margin: 1.5rem -108px 6rem 0;
}

p {
    font-family: 'Satisfy';
}

/* SCROLLING THE BROWN ARROW */

.fa-arrow-circle-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    color: crimson;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 43px;
}

.fa-arrow-circle-up.show {
    opacity: 1;
}


/* WAYPOINT PLUGIN */

.js-para-animate {
    opacity: 1;
    animation: para-jiggle 250ms linear;
}

@keyframes para-jiggle {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(15deg);
    }
    66% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0);
    }
}
