/* STYLING MY SKARA SHOP WEBSITE */
/* THE NAVBAR */
nav .nav-wrapper {
    position: relative;
    height: 106%;
    background-color: white;
}

nav ul a {
    color: black;
    font-family: 'Kavivanar';
}

nav ul a:hover {
    background-color: goldenrod;
}

/* ILLUSTRATION */

.image1 {
    position: relative;
    width: 100%;
    height: 120%;
}

.para1 {
    position: absolute;
    top: 318px;
    left: 466px;
    font-family: 'Nanum Brush Script';
    font-size: 47px;
    color: lightgoldenrodyellow;
}

.para2 {
    position: absolute;
    top: 412px;
    left: 392px;
    font-family: 'Nanum Brush Script';
    font-size: 85px;
    color: lightgoldenrodyellow;
}

/* PARAGRAPH */

.para3 {
    font-family: 'Kavivanar';
    padding-top: 47px;
    text-align: center;
    font-size: 22px;
    padding-bottom: 43px;
}

/*ILLUSTRATION 2*/

.illustration1 {
    position: relative;
    width: 100%;
    height: 140%;
}

.para4 {
    position: absolute;
    font-family: 'Nanum Brush Script';
    top: 1598px;
    left: 343px;
    font-size: 97px;
    color: floralwhite;
}